
<style>
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <h1 style="color: red; margin: 30px;">404, OOPS page not found :(</h1>
<a href="/" style="background-color: blueviolet; padding: 10px 20px; color: white;">Take me back to home page</a>
</div>


