<link rel="stylesheet" href="/css/home.css">

<main>
    <div class="container">
        <div class="home-title">
            <h1>One Place Where You Can Track Your <span>Habbits</span></h1>
            <div class="cta">
                <a class="btn register" type="button" href="/register">Register</a>
                <a class="btn sign_in" type="button" href="/login">Sign In</a>
            </div>
        </div>
        <img src="Home_Image.jpeg" alt="home-image" class="home-image">
    </div>
</main>