<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- my css -->
    <link rel="stylesheet" href="css/index.css">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <main>
        <div class="container">
            <div class="home-title">
                <h1>One place Where You Can Track Your <span>Habbits</span></h1>
                <div class="cta">
                    <a class="btn register" type="button" href="/user/register">Register</a>
                    <a class="btn sign_in" type="button" href="/user/login">Sign In</a>
                </div>
            </div>
            <img src="Home_Image.jpeg" alt="home-image" class="home-image">
        </div>
    </main>

    <footer>
        copyright@2022 Habbit Tracker
    </footer>
</body>

</html>