<link rel="stylesheet" href="/css/register.css">

<form action="/register" id="form" method="post">
    <h2>Register</h2>
    <input type="text" name="name" placeholder="name" required>
    <input type="email" name="email" placeholder="email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="password" name="confirm_password" placeholder="confirm password" required>
    <button class="btn" type="submit">Sign Up</button>
    <p>Already Registered? <a href="/login" style="color: teal;">Sign In</a></p>
</form>