#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  padding: 30px 30px;
  width: 300px;
  background-color: #333333;
  color: #fff;
}

#form input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

#form button.btn {
  margin-top: 10px;
  padding: 10px;
  background-color: blueviolet;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 50%;
  cursor: pointer;
}
